<h1>Card</h1>

<div id="card">
  {{#if wishes.length}}
  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>Count</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>

      {{#each wishes}}
      <tr>
        <td>{{title}}</td>
        <td>{{count}}</td>
        <td>
          <button 
            data-id="{{id}}"
            class="btn btn-small remove-data">Delete</button>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>

  <p><strong>Total:</strong> <span class="price">{{price}}</span></p>
{{else}}
  <p>Card is empty</p>
{{/if}}
</div>